.card-container {
    width: 100%;
    height: fit-content;
    background-color: none;
    margin-bottom: 7%;
}
.cardImage{
    width:100px;
    height:100px;
}

.cardHeader{
    width:100%;
}

.cardText{
    color:white;
}