.background{
    background-color: black;
    height:2000px;
    color: white;
}
.title{
    margin-top:10%;
    display:block;
    align-items:center;
    justify-content:center;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 10; /* Add a higher z-index to keep the top div above the map */
  }
  
  .columns {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    height: auto;
    margin-bottom: 5%;
  }
  
  .left {
    width: 65%;
    background-color: #333;
    color: white;
    overflow: hidden;
    position: relative;
  }

  .map-container {
    position: sticky;
    top: 0%; /* Adjust as needed */
    /* height: calc(100vh - 20%); Adjust height to match available space */
    /* Add any additional styling */
  }
  
  .right {
    width: 35%;
    background-color: #fff;
    padding: 50px;
    overflow-y: scroll;
  }
  
  .a {
    display: flex;
    margin-top: 50%;
    margin-bottom: 50%;
  }
  