.background{
    background-color: black;
    height:2000px;
    color: white;
}
.title{
    margin-top:10%;
    display:block;
    align-items:center;
    justify-content:center;
}

.top {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    z-index: 10; /* Add a higher z-index to keep the top div above the map */
  }
  
  .columns {
    /* display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: top;
    height: auto;
    margin-bottom: 5%; */
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .left {
    width: 65%;
    background-color: #333;
    color: white;
    overflow: hidden;
    position: relative;
    z-index: 5;
  }

  .right {
    width: 35%;
    background-color: #fff;
    padding: 50px;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  .a {
    display: flex;
    height:100px;
  }
  